<nav>
    <ul>
        <li><a href="/products">All Products</a></li>
        <li><a href="#">Second Page</a></li>
        <li><a href="#">Third Page</a></li>
        <% if(typeof user!='undefined' ){ %>
            <li>
                <a href="/auth/logout">(<%= user.emails[0].value %>) Logout</a>
            </li>
            <% } else{ %>
                <li><a href="/auth/google">Login With Google</a></li>
                <% } %>
    </ul>
</nav>