<%- include('./partials/head') %>
  <title>
    <%= title %>
  </title>
  </head>

  <body>
    <%- include('./partials/nav') %>
      <div class="index-container">
        <% if(typeof user==='undefined' ){ %>
          <a href="/auth/google"><button class="btn">Login with Google</button></a>
          <% } %>

            <main>
              <h1>Products CRUD Demo App</h1>
              <a href="/products">View Products List</a>
            </main>
      </div>
  </body>

  </html>